body {
    margin: 0;
    padding: 0;
    background: white;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

img, video {
    max-width: 100%;
    height: auto;
}

input, textarea, button, th, td {
    font-family: inherit;
    font-size: inherit;
}

input.text {
    width: 400px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
    outline: none;
}

input.text:focus {
    border-color: #333;
}

input.text[readonly] {
    cursor: default;
}

input.text[readonly]:focus {
    border-color: #ccc;
}

input.text.small {
    width: 50px;
}

button {
    height: 30px;
    padding: 0 10px;
    background: #2d72d2;
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

button:disabled {
    background: #75a4e7;
    cursor: not-allowed;
}

.global {
    padding: 30px;
}

.global.sm {
    opacity: 0.1;
}

.form-inputs-wrapper {
    display: flex;
    gap: 20px;
}

.form-inputs {
    display: inline-flex;
    gap: 20px;
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-inputs .field.spacing {
    padding-top: 25px;
}

.form-inputs .field label {
    display: block;
    height: 25px;
}

#video-players {
    display: none;
}

#video-players.show {
    display: block;
}

#video-players .players {
    display: flex;
    gap: 30px;
}

#video-players .players > * {
    flex: 50%;
    width: 50%;
}

.global.sm #video-players {
    opacity: 0.2;
}